<div class = "side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <a href="/rooms/new">チャットを作成する</a>
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class = "rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <a href="#"><%= room.name %></a>
    </div>
  <% end %>

  <div class="room">
    <a href="#">Chatroom1</a>
  </div>
  <div class="room">
    <a href="#">Chatroom1</a>
  </div>
  <div class="room">
    <a href="#">Chatroom1</a>
  </div>
    <div class="room">
    <a href="#">Chatroom1</a>
  </div>
  <div class="room">
    <a href="#">Chatroom1</a>
  </div>
  <div class="room">
    <a href="#">Chatroom1</a>
  </div>
  <div class="room">
    <a href="#">Chatroom1</a>
  </div>
    <div class="room">
    <a href="#">Chatroom1</a>
  </div>
  <div class="room">
    <a href="#">Chatroom1</a>
  </div>
  <div class="room">
    <a href="#">Chatroom1</a>
  </div>
  <div class="room">
    <a href="#">Chatroom1</a>
  </div>
    <div class="room">
    <a href="#">Chatroom1</a>
  </div>
  <div class="room">
    <a href="#">Chatroom1</a>
  </div>
    <div class="room">
    <a href="#">Chatroom1</a>
  </div>
  <div class="room">
    <a href="#">Chatroom1</a>
  </div>
  <div class="room">
    <a href="#">Chatroom1</a>
  </div>
  <div class="room">
    <a href="#">Chatroom1</a>
  </div>
</div>